In [99]:
import bs4 as bs
import urllib.request
import json
import pandas as pd

In [97]:
html_mulheres = urllib.request.urlopen('https://ranking.ittf.com/public/s/ranking/list?category=SEN&typeGender=W%3BSINGLES&year=2020&week=6&offset=0&size=100').read()

soup = bs.BeautifulSoup(html_mulheres, 'lxml') # pega so o html
soup = soup.find("p").get_text('') # pega o json dentro e tira as aspas -> <p>'json'</p>
json_top100 = json.loads(soup)
json_top100 = json_top100['ranks']

nome, pais, pontos, rank_atual, rank_anterior = [], [], [], [], []

for elemento in json_top100:
    rank_anterior.append(elemento['PrevRk'])
    rank_atual.append(elemento['Rk'])
    pontos.append(elemento['Points'])
    pais.append(elemento['Country']['desc'])
    nome.append(elemento['Player']['Name'])
    
df = pd.DataFrame([rank_atual, rank_anterior, pontos, pais, nome]).T
colunas = ['Ranking Atual','Ranking Anterior', 'Pontos', 'País', 'Nome']
df.columns = colunas
df.head(10)

  Ranking Atual Ranking Anterior Pontos            País             Nome
0             1                1  17015           China        CHEN Meng
1             2                2  15460           China      SUN Yingsha
2             3                3  14720           Japan         ITO Mima
3             4                5  14425           China       WANG Manyu
4             5                4  14400           China       LIU Shiwen
5             6                7  13450           China        DING Ning
6             7                6  13015           China       ZHU Yuling
7             8                8  11100       Singapore     FENG Tianwei
8             9                9  10950           Japan  ISHIKAWA Kasumi
9            10               10  10915  Chinese Taipei    CHENG I-Ching

In [100]:
html_homens   = urllib.request.urlopen('https://ranking.ittf.com/public/s/ranking/list?category=SEN&typeGender=M%3BSINGLES&year=2020&week=6&offset=0&size=100').read()

soup = bs.BeautifulSoup(html_homens, 'lxml') # pega so o html
soup = soup.find("p").get_text('') # pega o json dentro e tira as aspas -> <p>'json'</p>
json_top100 = json.loads(soup)
json_top100 = json_top100['ranks']

nome, pais, pontos, rank_atual, rank_anterior = [], [], [], [], []

for elemento in json_top100:
    rank_anterior.append(elemento['PrevRk'])
    rank_atual.append(elemento['Rk'])
    pontos.append(elemento['Points'])
    pais.append(elemento['Country']['desc'])
    nome.append(elemento['Player']['Name'])
    
df = pd.DataFrame([rank_atual, rank_anterior, pontos, pais, nome]).T
colunas = ['Ranking Atual','Ranking Anterior', 'Pontos', 'País', 'Nome']
df.columns = colunas
df.head(10)

  Ranking Atual Ranking Anterior Pontos            País                Nome
0             1                2  17260           China              XU Xin
1             2                1  16915           China        FAN Zhendong
2             3                3  16335           China             MA Long
3             4                4  13915           China         LIN Gaoyuan
4             5                5  12615           Japan   HARIMOTO Tomokazu
5             6                6  12585  Chinese Taipei          LIN Yun-Ju
6             7                7  12315          Brazil      CALDERANO Hugo
7             8                8  11630          Sweden       FALCK Mattias
8             9                9  11205           China       LIANG Jingkun
9            10               11  11075         Germany  OVTCHAROV Dimitrij